<!--

    diqube: Distributed Query Base.

    Copyright (C) 2015 Bastian Gloeckle

    This file is part of diqube.

    diqube is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>web</servlet-name>
    <servlet-class>org.diqube.ui.WebServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>thrift</servlet-name>
    <servlet-class>org.diqube.ui.ThriftServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>thrift</servlet-name>
    <url-pattern>/t/*</url-pattern> <!-- needs to match the constant in the servlet class! -->
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>web</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/diqube-ui-context.xml</param-value>
  </context-param>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.diqube.ui.DiqubeServletContextListener</listener-class>
  </listener>
</web-app>